.main-body {
  height: 88vh;
  font-size: calc(10px + 2vmin);
  background-color: rgb(255, 255, 255);
}

.main-navigation {
  height: 10vh;
  width: 100vw;
  display: flex;
  background-color: rgb(104, 132, 158);
}

.main-navigation-links {
  position: absolute;
  right: 0;
  width: 33vw;
  height: 10vh;
}

.main-navigation-links a{
  float: right;
  color: white;
  padding-top: 3vh;
  font-size: calc(6px + 2vh);
  font-family: 'Open Sans', sans-serif;
  padding-right: 2vw;
  text-decoration: none;
}

.main-navigation-links a:hover {
  color: rgb(112, 112, 112);
}

.App-logo {
  height: 4vmin;
  padding-top: 1vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-footer {
  background-color: rgb(220, 232, 232);
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-react-text {
  padding-top: 2vh;
  color: rgb(130, 127, 127);
  font: 'Open Sans', sans-serif;
  padding-bottom: 1vh;
}
