.mainbody {
  height: auto;
  font-size: calc(10px + 2vmin);
  background-color: rgb(255, 255, 255);
}

.mainheader {
  height: 10vh;
  width: 100vw;
  display: flex;
  background-color: rgb(104, 132, 158);
}

.mainNavigationLinks {
  width: 33vw;
  height: 10vh;
  padding-top: 2.5vh;
  padding-left: 2.5vw;
}

.mainNavigationLinks a{
  color: white;
  font-size: calc(6px + 2vh);
  font-family: 'Open Sans', sans-serif;
  padding-right: 2vw;
  text-decoration: none;
}

.mainNavigationLinks a:hover {
  color: rgb(206, 206, 206);
}

.personalLinks {
  position: absolute;
  right: 0;
}

.profileTextContainer {
  position: relative;
  display: flex;
}

.textContainer {
  position: relative;
  width: 50%;
  padding: 1vw;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.profileTextTop {
  justify-content: left;
  width: 100%;
  position: relative;
  font-family: Gill Sans;
  top: 39%; 
  /* left: 25vw;  */
  color: #3f7a4b;
  font-size: 9vh; 
  font-weight: bold;
}

.profileTextBot {
  position: relative;
  font-family: Gill Sans;
  top: 45%; 
  color: #3f7a4b;
  font-size: 9vh; 
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .profileTurtle {
    animation: react-logo-spin infinite 20s linear;
    width: 6vw;
    height: auto;
    position: absolute;
    top: 60%;
    left: 40%;
  }
}

.profilePicture {
  width: 50vw;
  height: 60%;
  padding: 1vw;
  opacity: 0.9;
  filter: grayscale(100%)
}

.introductionTextContainer {
  position: relative;
  display: flex;
}

.introPicture {
  padding: 1vw;
  width: 47vw;
  height: auto;
  opacity: 0.75;
  filter: grayscale(60%);
}

.introBox {
  padding: 1vw;
  margin-top: 1vh;
  width: 52vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.introTextTitle {
  width: 100%;
  font-family: Gill Sans;
  font-size: 4vh; 
  color:rgb(80, 114, 146);
}

.introText {
  line-height: 2.5vh;
  padding-top: 1vh;
  width: 100%;
  font-family: Gill Sans;
  font-size: 2vh; 
  color:rgb(80, 114, 146);
}

.reactLogo {
  height: 4vmin;
  padding-top: 1vh;
}

@media (prefers-reduced-motion: no-preference) {
  .reactLogo {
    animation: react-logo-spin infinite 20s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainFooter {
  background-color: #93c4c5;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerReactText {
  padding-top: 2vh;
  color: rgb(130, 127, 127);
  font: 'Open Sans', sans-serif;
  padding-bottom: 1vh;
}
